@page
@model AboutModel
@{
    ViewData["Title"] = "About Bar Manager";
}
<h1>@ViewData["Title"]</h1>

<p>Bar Manager is a passion project by a home bartender that wanted a good way to keep track of his ingredients and recipes in a better fashion. </p>

<h2>Contact Me</h2>

<p>If you have any questions, suggestions, or bugs, do not hesitate to contact me.</p>