@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bar Manager</h1>

    <p>Login above using Google credentials to start creating and saving your drink recipes in one convenient location!</p>
</div>
