@page
@model BarManager.Pages.QuestionsModel
@{
    ViewData["Title"] = "FAQ";
}

<h1>Frequently Asked Questions</h1>

<h2>Why Does This Website Go Down?</h2>
<p>This is a passion project created by a single person. As much as I would love to have it be perfect, I will mess it up and have to restart it more frequently than most websites. I appologize for any inconveniences.</p>